<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link href="style/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6b99eaf61d.js" crossorigin="anonymous"></script>
    
</head>
<body>

<div class="header"> 
  <div class="btn-group">
  <button type="button" class="btn btn-outline-dark"><a href="/index2" class="logo" style="text-decoration: none;color: #fefefe; ">📚Allbook-Shop</a></button>
    <div class="header-left">
     
  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;color: #fefefe;">
    Genre
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="Novel">Novel</a>
    <a class="dropdown-item" href="Graphic Novel">Graphic Novel</a>
    <a class="dropdown-item" href="Manga">Manga</a>
    <a class="dropdown-item" href="Romance">Romance</a>
 
</div>
      
      <button type="button" class="btn btn-outline-dark"><a href="wishlist" style="text-decoration: none;color: #fefefe;">💗 Wishlist</a></button>
      <button type="button" class="btn btn-outline-dark"><a href="about"  style="text-decoration: none;color: #fefefe;">About</a></button>
    </div></div>
    <div class="header-right">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="margin-right: 60px;"><form class="form-inline my-2 my-lg-0" action="/search" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by author..." name="author" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
       </li>
      
      </div>
  </div>
  <div class="container-fluid ">
    <div class="row">
  <div class="col-md-4 order-md-2 mb-4 justify-content-center">
<h2><b>Add new Book</b> </h2>
<form action="/addbook" method="post">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input name="title" type="text" class="form-control" placeholder="Title">
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
      <input name="author" type="text" class="form-control" placeholder="Author">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Content</label>
    <div class="col-sm-10">
      <textarea name="content" class="form-control" rows="3"></textarea>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Genre</label>
    
        <div class="col-sm-10">
            <input name="genre" type="text" class="form-control" placeholder="Genre">
          </div>


  </div>
  <br>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Image</legend>
      <div class="col-sm-10">
          
              <input name="urlToImage" type="text" class="form-control" placeholder="url to image">
      </div>

      </div>
   
  </fieldset>
  <br>
  
  <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-10">
      <input name="category" type="text" class="form-control" placeholder="ex:bestseller...">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Price</label>
    <div class="col-sm-10">
      <input name="price" type="text" class="form-control" placeholder="Price">
    </div>
  </div>
  <hr>
  <div class="form-group row ">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Publish</button>
    </div>
  </div>
</div>
    </div></div>
</form>
